.hh{
    margin-top: 50%;
}
.HH{
    margin: 10% !important;
    color: rgb(252, 206, 252);
    opacity:1;

}
.div1{
    margin:7% 25% 20% 25%;
    text-align: center;
    /* opacity: 0.5; */
}
label{
    /* font-size: large; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right !important;
    font-family: 'assistantsemibold',sans-serif;
    color: #ffffff;
    font-size: 17px;
    padding-left: 23px;
    line-height: 21px;

}
h1,h2{
    color: rgb(82, 6, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'assistantextrabold',sans-serif;
    color: inherit;
}
.btn2{
    margin-top:  70%;

}
body{
    color: rgb(82, 6, 82);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
